#smooth-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 1;
}

#smooth-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100%;
  will-change: transform;
}


@media (max-width: 768px) {
  #smooth-wrapper {
    position: relative !important;
    overflow: auto !important;
    height: auto !important;
  }
  
  #smooth-content {
    position: relative !important;
    transform: none !important;
  }
}


.smooth-scroll-section {
  position: relative;
  z-index: 2;
}


.smooth-element {
  will-change: transform;
}